<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-icon class="icon" name="menu"></ion-icon>
        </ion-col>
        <ion-col size="8">
          <ion-title>Search</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    
    </ion-toolbar>
  </ion-header>
  
  <ion-header>
    <ion-toolbar>
      <ion-searchbar placeholder="Search For Friends">
      </ion-searchbar>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <ion-item>
            <ion-avatar class="avatar" slot="start">
              <img src="../../assets/img/foto3.jpg" alt="">
            </ion-avatar>
            <ion-label>
              <h2>Sulistya</h2>
            </ion-label>
            <button class="button">ADD Friends</button>
          </ion-item>
          <ion-item>
            <ion-avatar class="avatar" slot="start">
              <img src="../../assets/img/jennie.png" alt="">
            </ion-avatar>
            <ion-label>
              <h2>Jennie</h2>
            </ion-label>
            <button class="button">ADD Friends</button>
          </ion-item>
          <ion-item>
            <ion-avatar class="avatar" slot="start">
              <img src="../../assets/img/lisa.jpg" alt="">
            </ion-avatar>
            <ion-label>
              <h2>Lisa</h2>
            </ion-label>
            <button class="button">ADD Friends</button>
          </ion-item>
          <ion-item>
            <ion-avatar class="avatar" slot="start">
              <img src="../../assets/img/rose.jpg" alt="">
            </ion-avatar>
            <ion-label>
              <h2>Rose</h2>
            </ion-label>
            <button class="button">ADD Friends</button>
          </ion-item>
          <ion-item>
            <ion-avatar class="avatar" slot="start">
              <img src="../../assets/img/jisoo.jpeg" alt="">
            </ion-avatar>
            <ion-label>
              <h2>Jisoo</h2>
            </ion-label>
            <button class="button">ADD Friends</button>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
